a{
	cursor: pointer;
}
.text-warning{
	color: #FFB44B;
}
#doc_arrow{
	display: none;
	position: fixed;
	background: #192F44;
	bottom: 45px;
	right: 30px;
	font-weight: bold;
	border-radius: 100%;
	padding: 10px;
	opacity: 0.8;
	color: #fff;
	outline: none;
	-webkit-animation: zoomInOut .4s;
	animation: zoomInOut .4s;
	z-index: 1000;
}
.load_cover>i>i{
	border: solid 4px rgba(208, 69, 65, 1);
	padding: 1vw;
	background: rgba(208, 69, 65, 0.82);
}
.load_cover>i{
	font-size: 10px;
	border: solid 4px rgba(208, 69, 65, 1);
	position: relative;
	top: 40%;
	left: 46vw;
	padding: 3vw 1vw;
	-webkit-animation: spin .4s infinite linear;
	animation: spin .4s infinite linear;
}
.load_cover{
	position: fixed;
	z-index: 9000;
	background: #fff;
	height: 100%;
	width: 100%;
	left: 0;
}
body{
	overflow-x: hidden;
	background: #962D0F;
	font-family: maiandra GD, "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-left: 60px;
}
.navbar a{
	transition: background 1s;
}
.navbar .dropdown ul{
	display: none;
	position: absolute;
	width: auto;
	background: white;
	top: 110%;
	list-style: none;
	padding: 0;
	border-radius: 2px;
	padding-top: 10px;
	transition: top .2s ease-out;
}
.navbar .dropdown ul:before{
	z-index: 1;
	content: " ";
	position: absolute;
	right: 10px;
	border-right: 1px solid rgba(0,0,0,.15);
	border-top: 1px solid rgba(0,0,0,.15);
	background: #fff;
	padding: 7px;
	transform: rotate(-45deg);
	top: -8px;
}
.navbar .dropdown ul li:not(.dropdown-header):hover{
	cursor: pointer;
	background: #eee;
	width: 100%;
	padding: 0;
	z-index: 20;
}
.navbar .dropdown ul li:not(.dropdown-header) a,
.navbar .dropdown ul li:not(.dropdown-header) a:visited{
	z-index: 20;
	width: 100%;
	padding: 10px 20px;
	color: #777;
}
.navbar-default{
	background: white;
	box-shadow: none;
	transition: all .5s ease-in-out;
}
.navbar-brand{
	border-bottom: solid 1px rgb(255, 180, 75);
    border-radius: 20px;
	padding: 0;
	position: relative;
}
.home_links > li > a:visited,
.home_links > li > a{
	background: none!important;
	color: #444!important;
	box-shadow: none!important;
}
nav,
.landing_div{
	border-radius: 0!important;
}
.landing_div{
	width: 100%;
	position: relative;
	left: 0;
	background: #fff;
	padding: 0px 15px;
}
.slide > .col-md-12{
	padding: 0;
}
.navbar.transparent{
	background: #fff;
	box-shadow: none;
	transition: all .5s ease-in-out;
}
.navbar.transparent .navbar-brand{
	border-bottom: solid 1px rgb(255, 180, 75);
    border-radius: 20px;
}
.navbar.transparent > .navbar-right > li > a:visited,
.navbar.transparent > .navbar-right > li > a{
	opacity: .9;
	color: #888!important;
}
.navbar.transparent > .navbar-right > li > a:hover{
	opacity: 1;
	background: transparent;
	transition: opacity .3s ease-out;
	color: #555!important;
}
.navbar.transparent > .navbar-right > li.active > a,
.navbar.transparent > .navbar-right > li.active > a:hover{
	opacity: 1;
	background: transparent;
}
.navbar.transparent > .navbar-right > li:last-of-type > a{
	border: solid #aaa 2px;
	border-radius: 5px;
}

/*wallet balance*/
#balance{
	color: #F47111;
}

/*slider*/
#bg_1,
#bg_2,
#bg_3{
	position: absolute;
	top: 0;
	width: 100vw;
	min-height: 80vh;
	height: 100%;
	right: 0%;
}
#bg_2,
#bg_1{
	display: none;
}

/*cover*/
.landing_div .cover{
	overflow-y: auto;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 90vh;
	background: rgba(0,0,0,0.75);
	margin: 0;
	margin-bottom: 0;
	padding-top: 70px;
	z-index: 10;
	padding-left: 10px;
	padding-right: 10px;
}
.landing_div .cover h1{
	font-size: 30px;
}
.landing_div .cover .btn-warning{
	color: #FFB44B;
	border-color: #FFB44B;
	opacity: 0.8;
	background: rgba(0,0,0,0.4);
	transition: opacity .2s ease-in;
}
.landing_div .cover .title{
	min-height: 30vh;
	color: rgba(255,255,255,0.8);
}
.landing_div .cover .title .main.text{
	font-size: 30px;
	font-style: italic;
	font-family: serif;
}
.landing_div .cover .title .main.text span{
	border: solid 2px #fff;
	border-radius: 100%;
	padding: 5px 20px;
	background: rgba(79, 19, 2, 0.58);
	font-size: 50px;
}
.landing_div .cover .title ul{
	font-family: cursive;
	list-style: none;
	line-height: 30px;
	padding-left: 50px;
}
.landing_div .cover .title ul img{
	opacity: 0.7;
}
.landing_div .cover .btn-warning:hover{
	opacity: 1;
}
.landing_div .cover .col-sm-12{
	position: relative;
}
.landing_div .cover .title_text{
	color: #fff;
	color: #fefefe;
	font-size: 20px;
	position: absolute;
	bottom: 0;
	opacity: 0.4;
	transition: all 3s linear;
}

/*social*/
.fb-icon{
	color: #08608E;
}
.tw-icon{
	color: #33A3DD;
}

#reset_modal{
	z-index: 1300;
}
/*login*/
.landing_div .login{
	position: fixed!important;
	top: -200%;
	left: 0;
	padding-top: 20px;
	right: 0;
	z-index: 1200;
	background: rgba(244,244,244,0.8);
	height: 100vh;
	overflow-y: auto;
}
.landing_div .login form{
	background: #fff;
	border-radius: 5px;
	padding: 10px 10px 30px 10px;
	box-shadow: rgba(0,0,0,0.2) 0px 6px 12px;
}
.landing_div .login form legend{
	position: relative;
	color: #999;
}
.landing_div .login form legend a{
	text-decoration: none;
	transition: transform .3s;
}
.landing_div .login form legend a:hover{
	text-decoration: none;
	transform: scale(1.05);
}
.landing_div .login .login_toggle{
	margin-top: 10px;
	margin-right: 20px;
	color: rgba(0,0,0,0.3);
	font-size: 20px;
	cursor: pointer;
	transition: color .4s;
}
.landing_div .login .login_toggle:hover{
	color: rgba(0,0,0,0.6);
}
.alert.message{
	display: none;
}
.register{
	color: #ccc;
	margin-bottom: 30px;
}
#reg{
	margin-top: 20px;
}
.main.text,
.title>ul>li{
	position: relative;
	left: -200%;
}


/*description*/
.m_desc_steps,
.sports_wrap,
.l_wrap{
	padding-bottom: 30px;
	padding-top: 30px;
}
.leader_item img{
	display: none;
	-webkit-animation: zoomInOut .6s;
	animation: zoomInOut .6s;
}
.m_desc_steps .col-sm-12{
	opacity: 0;
	position: relative;
	top: 20px;
	transition: top 1s ease-out, opacity 4s;
}
.m_desc_steps,
.sports_wrap,
.foot,
.l_wrap{
	position: relative;
	text-align: center;
}
.l_wrap::before,
.sports_wrap::before,
.m_desc_steps::before{
	z-index: 1000;
	content: " ";
	position: absolute;
	left: 49%;
	border-right: solid 20px #fff;
	border-top: solid 20px #fff;
	transform: rotate(-45deg);
	top: -10px;
}
.l_wrap{
	background: rgb(216, 87, 75);
	color: #fff;
}
.l_wrap *{
	position: relative;
}
.l_wrap .details h4{
	color: #FF9900;
}
.l_wrap .details{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 6px 12px rgba(0,0,0,0.19);
	color: rgb(216, 87, 75);
	margin: 15px 0px;
}
.l_wrap .details::before{
	z-index: 100;
	content: " ";
	position: absolute;
	left: 48%;
	border-right: solid 12px #fff;
	border-top: solid 12px #fff;
	transform: rotate(-45deg);
	top: -6px;
}
.result_item,
.sport_item{
	width: 100%;
	text-align: left;
	border-top: solid 1px #eee;
	padding: 15px 0px;
	color: #999;
	float: right;
}
.result_item{
	border-top: none;
}
.sport_item b{
	color: #444;
}
.sport_item button,
.sport_item span{
	float: right;
}
#bet .sport_item{
	position: relative;
	left: -20px;
	opacity: 0;
	transition: left 1s ease-out, opacity 4s;
}
.foot,
.home_foot{
	background: #fff;
	border-top: solid 1px #999;
	padding: 2px 10px;
}
.foot{
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
}

/*side navigation*/
.side-nav.wrapper{
	margin-left: 0px;
	position: absolute;
	left: 0;
	width: 200px;
	min-height: 100vh;
	padding-top: 150px;
	background: #962D0F;
	padding: 0;
	text-align: left;
	transition: all .1s;
	z-index: 1000;
}
.side-nav.wrapper > .side-nav.header{
	text-align: center;
	background: #5A1906;
	padding: 100px 20px 20px 20px;
	margin-bottom: 20px;
}
.side-nav.wrapper > .side-nav.header > small{
	font-weight: bold;
	margin: 10px;
	display: block;
	color: #F9E6E0;
	position: relative;
}
.side-nav.wrapper > .side-nav.header > small:after{
	content: " ";
	background: #5CB85C;
	border-radius: 100%;
	padding: 4px;
	width: 8px;
	height: 8px;
	position: absolute;
	left: 30px;
	bottom: 30%;
}
.side-nav.wrapper > ul{
	list-style: none;
	width: 100%;
	padding: 0;
	display: block;
	position: relative;
}
.side-nav.wrapper > ul > button{
	/*position: absolute;*/
	right: 0;
	top: 0;
	bottom: 0;
	width: 50px!important;
	outline: none;
	/*padding: 2px;*/
	background: rgba(0,0,0,0.15);
	background: -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.25));
	background: -o-linear-gradient(right, transparent , rgba(0,0,0,0.25));
	background: -moz-linear-gradient(right, transparent , rgba(0,0,0,0.25));
	background: linear-gradient(to right, transparent , rgba(0,0,0,0.25));
	transition: all 1s ease-in-out;
	border-radius: 0;
	border: none;
	box-shadow: none;
}
.side-nav.wrapper:hover > ul > button{
	color: #fff;
}
.side-nav.wrapper:hover > ul > button{
	animation: stretch infinite 1s;
	-webkit-animation: stretch 1s infinite ;
}
.side-nav.wrapper:hover > ul > button:hover,
.side-nav.wrapper:hover > ul > button:focus,
.side-nav.wrapper:hover > ul > button:active{
	background: rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.3));
	background: -o-linear-gradient(right, transparent , rgba(0,0,0,0.3));
	background: -moz-linear-gradient(right, transparent , rgba(0,0,0,0.3));
	background: linear-gradient(to right, transparent , rgba(0,0,0,0.3));
	outline: none;
	box-shadow: 0px 4px -webkit-linear-gradient(left, transparent , rgba(0,0,0,0.3));
}
.side-nav.wrapper > ul > li{
	padding: 0;
	width: 100%;
	display: block;
	overflow-x: hidden;
}
.side-nav.wrapper > ul > li:hover{
	overflow-x: visible;
}
.side-nav.wrapper > ul > li > a,
.side-nav.wrapper > ul > li > a:visited{
	display: block;
	width: 100%;
	color: #fff;
	padding: 5px;
	background: transparent;
}
.side-nav.wrapper > ul > li > a:focus,
.side-nav.wrapper > ul > li > a:active,
.side-nav.wrapper > ul > li > a:visited,
.side-nav.wrapper > ul > li > a:hover{
	text-decoration: none;
}
.side-nav.wrapper > ul > li.active a,
.side-nav.wrapper > ul > li:hover a,
.side-nav.wrapper > ul > li:visited a{
	background: rgba(72, 17, 2, 0.7);
}
.side-nav.wrapper > ul > li > a > span{
	display: inline block;
	font-size: 20px;
	padding: 10px;
	padding-left: 15px;
}

/*compressed nav*/
.side-nav.wrapper.compressed{
	margin-left: 0px;
	width: 60px;
	transition: all .1s;
}
.side-nav.wrapper.compressed > .side-nav.header {
	padding-left: 0;
	padding-right: 0;
}
.side-nav.wrapper.compressed > .side-nav.header > img{
	width: 45px!important;
	height: 45px!important;
}
.side-nav.wrapper.compressed > .side-nav.header > small{
	display: none;
}
.side-nav.wrapper.compressed > ul > li.active > a,
.side-nav.wrapper.compressed > ul > li > a{
	width: 200px;
}
.side-nav.wrapper.compressed > ul > li > a > span{
	padding-right: 30px;
}

/*main content*/
.container-fluid{
	background: rgba(255,255,255,0.9);
	min-height: 100vh;
	padding-top: 80px;
	color: #777;
}
.page-title{
	border-bottom: solid 1px #ddd;
}
.breadcrumb{
	background: #fff;
}
.page-wrapper{
	width: 100%;
	min-height: 100vh;
	background: rgba(255,255,255,0.6);
	padding: 20px;
    border-bottom: solid 1px #ddd;
}
span.result{
	/*color: #6CC0ED;*/
	color: rgba(217, 83, 79, 0.66);
}
.panel .latest_sports{
	border-right: dashed 1px #eee;
}
.panel{
	border-radius: 0;
}
.panel-title{
	font-weight: bold;
}
.latest_sports .sport_item{
	border: none;
	border-bottom: solid 1px #eee;
}
.leaderboard .panel-body{
	padding-left: 0px;
	padding-right: 0px;
}
.leaderboard_item{
	position: relative;
	padding: 10px 0;
	margin-right: 10px;
	border-bottom: solid 1px #eee;
}
.leaderboard_item > span{
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: bold;
	font-size: 10px;
	/*color: #ccc;*/
	color: rgba(150, 45, 15, 0.29);
}
.leaderboard_item > p{
	padding: 0px;
	margin: 0;
	color: #aaa;
	font-size: 13px;
}
.leaderboard_item > p.username{
	font-size: 15px;
	color: #444;
}
.leaderboard_item > img{
	float: left;
	margin-right: 15px;
}

/*fund wallet form*/
#fund_form{
	text-align: left;
	color: #999;
}
#fund_form #month_list,
#fund_form #year_list{
	color: #444;
	border-radius: 3px;
	cursor: pointer;
}

/*profile*/
.profile-image{
	position: relative;
	padding: 0;
	transition: opacity .4s ease-in-out;
}
.profile-image > .edit_cover{
	position: absolute;
	background: rgba(0,0,0,0.2);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
}
.profile-image > .edit_cover:hover > i{
	color: rgba(255,255,255,0.6);
}
.profile-image:hover{
	opacity: .9;
}
.profile-image > .edit_cover > i{
	color: rgba(255,255,255,0.7);
	position: relative;
	margin-top: 40%;
	transition: color .4s ease-in-out;
}
.profile-details{
	padding: 20px;
}
.profile-details  .input-group{
	margin-bottom: 20px;
}
.profile-details  button{
	margin-left: 10px;
}

/*search friends*/
.search{
	position: fixed;
	z-index: 1020;
	width: 250px;
	right: -255px;
	height: 100vh;
	top: 0vh;
	background: white;
	padding: 10px;
	padding-top: 20vh;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
	transition: right .2s;
}
.input-group-addon{
	cursor: pointer;
}
.search.open{
	right: 0px;
}
.search_child{
	overflow-y: auto;
	height: 85%;
	padding-bottom: 2px;
}
.search > i:active,
.search > i:focus,
.search > i:hover,
.search > i{
	border-right: 1px dashed #eee;
	position: absolute;
	top: 20vh;
	width: 50px;
	left: -50px;
	background: white;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.2);
}
.found_item{
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	border-bottom: dashed #ccc 1px;
}
.found_item img{
	float: left;
	margin-right: 10px;
}
.found_item .username{
	font-weight: bold;
	margin-bottom: 0px;
	color: #999;
}
.found_item .location{
	font-size: 12px;
	font-weight: lighter;
	margin-bottom: 0;
}
.found_item i{
	color: #BF350D;
	position: absolute;
	right: 5px;
	top: 15px;
}
.found_item i:hover{
	cursor: pointer;
	color: #962D0F;
}

/*friends list*/
.request_item,
.friend_item{
	float: left;
	display: block;
	width: 100%;
	padding: 5px;
}
.request_item > *:not(i) ,
.friend_item > *:not(i) {
	float: left;
}
.request_item > *:not(img) ,
.friend_item > *:not(img) {
    vertical-align: middle;
    height: 40px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.request_item > img{
	margin-right: 2%;
}
.friend_item > img{
	margin-right: 5%;
}
.request_item > .location{
	color: #ccc;
}
.request_item > .username{
	margin-right: 10%;
}
.friend_item > .username{
	margin-right: 30%;
}
.request_item > i,
.friend_item > i{
	float: right;
	font-style: normal;
	opacity: .05;
	cursor: pointer;
	margin-right: 10px;
	transition: opacity .4s;
}
.request_item:hover,
.friend_item:hover{
	background: rgba(0,0,0,0.03);
}
.request_item:hover > i,
.friend_item:hover > i{
	opacity: .3;
}
.request_item:hover > i:hover,
.friend_item:hover > i:hover{
	opacity: .7;
}
.request_item:hover > i:hover > span.fa-trash,
.friend_item:hover > i:hover > span.fa-trash{
	animation: wiggle .2s 2;
	-webkit-animation: wiggle .2s 2;
}

@media (max-width: 610px){
	.navbar .navbar-toggle {
		border-color: #888;
	}
	.navbar .navbar-toggle .icon-bar {
    	background-color: #888;
	}
}
@media (min-width: 610px){
	body{
		padding-left: 200px;
	}
	.navbar{
		padding: 0px 50px;
	}
	.navbar.transparent > .navbar-right > li > a:hover{
		color: #fff!important;
		border-color: #fff!important;
	}
	.navbar.transparent{
		background: transparent;
	}
	.navbar-brand{
		margin-top: 15px;
	}
	.navbar-nav>li>a:visited,
	.navbar-nav>li>a {
	    margin-top: 15px;
	    margin-bottom: 15px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    color: #999!important;
	}
	.navbar-nav>li>a:hover{
		color: #666!important;
	}
	.navbar.pressed .navbar-brand{
		margin-top: 0;
		padding-top: 10px;
	}
	.navbar .navbar-brand img,
	.navbar .navbar-brand{
		transition: all .2s;
	}
	.navbar.pressed .navbar-brand img{
		width: 100px!important;
	}
	.navbar.pressed .navbar-right a{
		margin-top: 10px!important;
		margin-bottom: 0px!important;
		transition: all .2s;
	}
	.landing_div .cover{
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 25vh;
	}
	.landing_div .cover .title{
		min-height: 60vh;
	}
	.landing_div .login > span{
		top: 50px;
		right: 50px;
	}
	.landing_div .login form{
		padding: 30px 50px 30px 50px;
	}
	.m_desc_steps{
		padding: 200px 200px;
	}
	.sports_wrap{
		padding: 100px 200px;
	}
	.l_wrap{
		padding: 100px 200px;
	}
	.landing_div .cover .title ul{
		padding-left: 80px;
	}
	.side-nav.wrapper{
		/*margin-left: -200px;*/
	}
	.side-nav.wrapper.compressed{
		/*margin-left: -50px;*/
	}
}

/*animations*/
@-webkit-keyframes spin{
	0%{-webkit-transform: rotateY(180deg);opacity: 0.8;}
	100%{-webkit-transform: rotateY(0deg);opacity: 1; }
}
@keyframes spin{
	0%{transform: rotateY(180deg); }
	100%{transform: rotateY(0deg); }
}
@-webkit-keyframes opaq{
	0%{opacity: .5;}
	20%{opacity: 1;}
	40%{opacity: .5;}
	60%{opacity: 1;}
	80%{opacity: .5;}
	100%{opacity: 1;}
}
@keyframes opaq{
	0%{opacity: 1;}
	20%{opacity: 0.5;}
	40%{opacity: 1;}
	60%{opacity: 0.5;}
	80%{opacity: 1;}
	100%{opacity: 0.5;}
}
@keyframes marg{
	0%{margin-top: 0px;}
	100%{margin-top: 20px;}
}
@-webkit-keyframes marg{
	0%{margin-top: 0px;}
	100%{margin-top: 20px;}
}
@-webkit-keyframes zoomInOut {
    0% {transform:scale(0)}
    50% {transform:scale(1.2)}
    100% {transform:scale(1)}
}

@keyframes zoomInOut {
    0% {transform:scale(0)}
    50% {transform:scale(1.2)}
    100% {transform:scale(1)}
}
@keyframes stretch{
	0%{
		width: 50px;
	}

	50%{
		width: 60px;
	}

	100%{
		width: 50px;
	}
}
@-webkit-keyframes stretch{
	0%{
		width: 50px;
	}

	50%{
		width: 60px;
	}

	100%{
		width: 50px;
	}
}
@keyframes wiggle{
	0%{
		transform: rotate(15deg);
	}

	100%{
		transform: rotate(-10deg);
	}
}
@-webkit-keyframes wiggle{
	0%{
		transform: rotate(15deg);
	}

	100%{
		transform: rotate(-10deg);
	}
}